# Compiled class file
*.class
src/test/kotlin/TestHelper.kt

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

out/

# User-specific stuff:
.gradle
.idea
build
*.pfx
.DS_Store
*.gpg
!bin/FaceKomDev-maven-signing.armored.key.gpg
